body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}
.image-header{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/iStock-843874216.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 0px;
    color: teal;
}
.black-box{
    background-color: #202020;
    color: whitesmoke;
    padding: 2rem 10rem;
    display: flex;
}
.white-box{
    background-color: whitesmoke;
    color: #202020;
    padding: 2rem 10rem;
}
.rrss{
    align-content: center;
    justify-content: center;
    display: flex;
}
.rrss-y{
    color: #FAC710;
    font-size: 3rem;
    margin: 0rem 0.5rem;
}