
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --yellow: #FAC710;
  --white: whitesmoke;
  --grey: #202020;
}
*{
  padding: 0;
  margin: 0;
}
.nav-prueba .body{
  background-color: var(--grey);
}

/** Seccion 1 **/
#primer-contenedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
}
.costadoizq-foto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nombre-nico{
  width: 70%;
}
.foto-principal-nico{
  height: 400px;
  width: 400px;
  margin-right: 100px;
}
.primeros-botones{
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.boton-general{
  font-family: 'Noto Sans', sans-serif;
  padding: 20px;
  font-weight: 700;
  color: var(--grey);
  border-radius: 10px;
  margin: 15px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  width: 200px;
}
.boton-general a{
  color: var(--grey);
  font-weight: 800;
}
.boton-cv{
  background-color: var(--yellow);
}
.boton-wa{
  background-color: var(--white);
}

/** Seccion 2 **/

.tercer-contenedor{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--grey);
  padding: 70px;
}
#caja-mis-trabajos{
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--grey);
  padding-bottom: 10px;
}
#titulo-mis-trabajos img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}  
.boxzoom{
  height: 240px;
  width: 240px;
  transition: all 0.4s; 
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none;
}
.boxzoom img{
  border-radius: 10px;
  filter:grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* filter:hue-rotate(60deg) brightness(500%); */
}
.boxzoom img:hover{
  transform: scale(1.2);
  cursor: crosshair;
  filter: none;
}
.caja-boton-trabajos{
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.boton-trabajos{
  background-color: var(--yellow);
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  margin: 15px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 150px;
}
.boton-trabajos a{
  color: var(--grey);
  font-weight: 800;
}


/** FOOTER **/
.footer-basic{
  background-color: var(--yellow);
}
.footer-basic ul a:hover {
  opacity:1;
}
.footer-basic .social {
  text-align:center;
  padding-top:25px;
  size: 15px;
}
.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  opacity:0.75;
}
.footer-basic .social > a:hover {
  opacity:0.9;
}
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:var(--grey);
  margin-bottom:0px;
  padding-bottom: 0px;
}