.container-paz{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: teal;
    column-gap: 100px;
    width: 90%;
    margin: auto;
}
/* Portafolio */
.portafolio-paz{
    width: 90%;
    margin: auto;
}
/* Grid */
.grid{
    position: relative;
    width: 90%;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}
.grid.imagenes-cargadas{
    opacity: 1;
}
.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.33% - 20px);
}
.grid .item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}
.grid .item-contenido{
    position: relative;
}
.categoria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #99bb99;
}
.categoria a{
    margin: 1rem 2rem;
    font-size: 18px;
    font-weight: 300;
    color: var(--yellow);
}
.categoria a.activo{
    font-weight: 800;
}
a {
    text-decoration: none;
}

/*Overlay*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay.activo{
    display: flex;
}
.overlay img{
    max-width: 100%;
}
.overlay .descripcion{
    display: block;
    padding: 20px;
    text-align: center;
    max-width: 50%;
    color: var(--white);
}
.contenedor-img{
    position: relative;
}
.overlay #btn-cerrar-popup{
    background: none;
    font-size: 1.5rem;
    color: var(--white);
    border: none;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -30px;
}