@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
root {
    --yellow: #FAC710;
    --white: whitesmoke;
    --grey: #202020;
  }
  body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
    background-color: #202020;
}

#primer-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    height: 82vh;
}

.costadoizq-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre-sofi{
    width: 60%;
}
.nombre-sofi img{
    width: 70%;
}

p{
    color: var(--white);
    text-align: justify;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    width: 70%;
    margin-top: 10px;
}

.foto-principal-sofi{
    margin-right: 50px;
    height: 85vh;
    position: absolute;
    bottom: 2px;
    right: 0;
}
.foto-principal-sofi img{
    width: 100%;
}


.primeros-botones{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    top: 80px;
    right: 100px;
    
}
.boton-general{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    color: var(--grey);
    border-radius: 50px;
    margin: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
.boton-general a{
    color: var(--grey);
    font-weight: 800;
}
.boton-cv{
    background-color: var(--yellow);
}
.boton-wa{
    background-color: var(--white);
}


.segundo-contenedor{
    background-image: url(../../assets/img/fondo-contenido2-sofi.jpg);
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    height: 70%;
}

.titulo-experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo-experiencia img{
    width: 35%;
    margin-top: 40px;
}

.iconos-experiencia{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin: 2rem 20rem;
}

.icono{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icono h3{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;
}

.tercer-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
}
.titulo-trabajos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo-trabajos img{
    width: 20%;
    margin-top: 40px;
}

.contenedor-trabajos{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    background-color: #202020;
}

.caja-trabajos{
    height: 250px;
    width: 250px;
    transition: all 0.3s;
}

.caja-trabajos img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}
/*
.overlay{
    opacity: 0;
    transition: 0.5s;
    display: flex;
    position: relative;
    bottom: 80px;
    right: 70px;
}
*/
.overlay .texto h4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    opacity: 0;
}
/*
.caja-trabajos img:hover{
    filter: grayscale();
    background-position: center;
}
*/

.caja-trabajos:hover .overlay{
    opacity: 1;
}
/*
.texto{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FAC710;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
}
*/

.foto{
    background: url(../img/trabajo1-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.foto:hover{
    filter: grayscale();
}

.foto:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;
}

.foto1{
    background: url(../img/trabajo2-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.foto1:hover{
    filter: grayscale();
}

.foto1:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;
}

.foto2{
    background: url(../img/trabajo3-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.foto2:hover{
    filter: grayscale();
}

.foto2:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;
}

.foto3{
    background: url(../img/trabajo4-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.foto3:hover{
    filter: grayscale();
}

.foto3:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;
}

.foto4{
    background: url(../img/trabajo5-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.foto4:hover{
    filter: grayscale();
}

.foto4:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;
}

.foto5{
    background: url(../img/trabajo6-sofi.jpg) no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.foto5:hover{
    filter: grayscale();
}

.foto5:hover .overlay .texto h4{
    color: white;
    opacity: 1;
    bottom: 0;
    position: relative;
    top: 50px;}