@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
    --yellow: #FAC710;
    --white: whitesmoke;
    --grey: #202020;
  }

*{
    padding: 0;
    margin: 0;
}
.nav-prueba{
    background-color: var(--grey);
}

/* PRIMER RECUADRO */
#primer-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
}
.costadoizq-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre-maca{
    width: 70%;
    margin-left: 80px;
}
.foto-principal-maca{
    width: 600px;
    margin-right: 50px;
}
.primeros-botones{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.boton-general{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    color: var(--grey);
    border-radius: 50px;
    margin: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
.boton-general a{
    color: var(--grey);
    font-weight: 800;
}
.boton-cv{
    background-color: var(--yellow);
}
.boton-wa{
    background-color: var(--white);
}

/* SEGUNDO RECUADRO */
.segundo-contenedor{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}
.foto-perfil-segundocontenedor{
    width: 50%;
    margin-left: 20px;
}
.contenedorsaludo-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
}
p{
    margin-left: 40px;
    font-size: 20px;
    text-align: justify;
}
.saludo{
    width: 250px;
}

/* TERCER RECUADRO */

.tercer-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--grey);
    padding: 70px;
}
#caja-mis-trabajos{
    display: grid;
    grid-template-columns: repeat(3, 240px);
    /*grid-template-columns: 1fr 1fr 1fr;*/
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--grey);
    padding-bottom: 10px;
}
#titulo-mis-trabajos img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}  

.boxzoom{
    height: 240px;
    width: 240px;
    transition: all 0.4s; 
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boxzoom img{
    border-radius: 100%;
    /* background: rgb(255, 146, 4);
    mix-blend-mode: multiply; */
}
.boxzoom img:hover{
    transform: scale(1.5);
}

.caja-boton-trabajos{
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.boton-trabajos{
    background-color: var(--yellow);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;
    margin: 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    width: 150px;
}
.boton-trabajos a{
    color: var(--grey);
    font-weight: 800;
}
/*     
.boxzoom img{
    border-radius: 100%;
    display: block;
    mix-blend-mode: normal;
    filter: grayscale(100%);
}
.boxzoom img:hover{
    transform: scale(1.5);
    display: block;
    mix-blend-mode: normal;
    filter: none;
} */
    
.footer-basic{
    background-color: var(--yellow);
}
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  .footer-basic ul a:hover {
    opacity:1;
  }
  .footer-basic .social {
    text-align:center;
    padding-top:25px;
    size: 15px;
  }
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:var(--yellow);
    margin-bottom:0px;
  }