@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
    --yellow: #FAC710;
    --white: whitesmoke;
    --grey: #202020;
  }
*{
    padding: 0;
    margin: 0;
}
.nav-prueba .body{
    background-color: var(--grey);
}

/* PRIMER RECUADRO --------------------------------------------------------------------- */
#primer-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
}
.costadoizq-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre-maca{
    width: 70%;
    margin-left: 80px;
}
.foto-principal-maca{
    width: 600px;
    margin-right: 60px;
}
.primeros-botones{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.boton-general{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-weight: 600;
    color: var(--grey);
    border-radius: 50px;
    margin: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
.boton-general a{
    color: var(--grey);
    font-weight: 800;
}
.boton-cv{
    background-color: var(--yellow);
}
.boton-wa{
    background-color: var(--white);
}
/* SEGUNDO RECUADRO --------------------------------------------------------------------- */
.segundo-contenedor{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}
.foto-perfil-segundocontenedor{
    width: 50%;
    margin-left: 20px;
}
.contenedorsaludo-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
}
p{
    margin-left: 40px;
    font-size: 20px;
    text-align: justify;
    width: 93%;
}
.saludo{
    width: 250px;
}
/* TERCER RECUADRO --------------------------------------------------------------------- */
.tercer-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--grey);
    padding: 70px;
}
#caja-mis-trabajos{
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--grey);
    padding-bottom: 10px;
}
#titulo-mis-trabajos img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}  
.boxzoom{
    height: 240px;
    width: 240px;
    transition: all 0.4s; 
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}
.boxzoom img{
    border-radius: 100%;
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
    /* filter:hue-rotate(60deg) brightness(500%); */
}
.boxzoom img:hover{
    transform: scale(1.2);
    cursor: crosshair;
    filter: none;
}
.caja-boton-trabajos{
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.boton-trabajos{
    background-color: var(--yellow);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-radius: 50px;
    margin: 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    width: 150px;
}
.boton-trabajos a{
    color: var(--grey);
    font-weight: 800;
}
/* FOOTER RECUADRO --------------------------------------------------------------------- */
.footer-basic{
    background-color: var(--yellow);
}
.footer-basic ul a:hover {
    opacity:1;
}
.footer-basic .social {
    text-align:center;
    padding-top:25px;
    size: 15px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    opacity:0.75;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:var(--yellow);
    margin-bottom:0px;
    padding-bottom: 0px;
}

/* RESPONSIVE --------------------------------------------------------------------------*/

@media only screen and (max-width: 600px){
/* NAV */    
    .navbar {
        background-color:var(--grey);
    }    

/* 1 */
    #primer-contenedor{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .nombre-maca{
        width: 85%;
        margin-left: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .foto-principal-maca{
        width: 0px;
        margin-right: 0px;
        visibility: hidden;
        display: none;
    }
    .primeros-botones{
        flex-direction: column;
    }
    .boton-general{
        padding: 15px;
        margin: 0px;
        width: 200px;
    }
/* 2 */
    .segundo-contenedor{
        flex-direction: column;
        padding: 30px;
    }
    .foto-perfil-segundocontenedor{
        width: 60%;
        margin-left: 0px;
    }
    .contenedorsaludo-texto{
        align-items: center;
        width: 100%;
        margin-left: 0px;
    }
    p{
        margin-left: 0px;
        font-size: 16px;
        width: 100%;
    }
    .saludo{
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
/* 3 */
    .tercer-contenedor{
        padding: 40px;
    }
    #caja-mis-trabajos{
        grid-template-columns: repeat(1, 240px);
        padding-bottom: 0px 0px 0px 0px;
    }
    #titulo-mis-trabajos img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }  
    .caja-boton-trabajos{
        padding: 30px;
    }
}

@media only screen and (min-width: 600px){
/* NAV */    
.navbar {
    background-color:var(--grey);
}    

/* 1 */
    .nombre-maca{
        width: 80%;
        margin-left: 0px;
    }
    .foto-principal-maca{
        margin-right: 0px;
    }
    .boton-general{
        padding: 10px;
        margin: 10px;
        width: 150px;
    }
/* 2 */
    .segundo-contenedor{
        padding: 40px;
    }
    .foto-perfil-segundocontenedor{
        width: 60%;
        margin-left: 0px;
    }
    .contenedorsaludo-texto{
        margin-left: 0px;
    }
    p{
        font-size: 14px;
        margin: 1px 1px 1px 20px;
    }
    .saludo{
        width: 130px;
    }
/* 3 */

    .tercer-contenedor{
        padding: 40px;
        width: 100%;
    }
    #caja-mis-trabajos{
        grid-template-columns: repeat(2, 240px);
        padding-bottom: 0px 0px 0px 0px;
    }
    /* #caja-mis-trabajos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px 0px 0px 0px;
    } */
    #titulo-mis-trabajos img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }  
    .caja-boton-trabajos{
        padding: 30px;
    }

}

@media only screen and (min-width: 768px){
/* NAV */    
    .navbar {
        background-color:var(--grey);
    }    
/* 1 */
    .nombre-maca{
        width: 80%;
        margin-left: 0px;
    }
    .foto-principal-maca{
        margin-right: 0px;
    }
    .boton-general{
        padding: 10px;
        margin: 10px;
        width: 150px;
    }
/* 2 */
    .segundo-contenedor{
        padding: 40px;
    }
    .foto-perfil-segundocontenedor{
        width: 60%;
        margin-left: 0px;
    }
    .contenedorsaludo-texto{
        margin-left: 0px;
    }
    p{
        font-size: 14px;
        margin: 1px 1px 1px 20px;
    }
    .saludo{
        width: 130px;
    }
/* 3 */
    .tercer-contenedor{
        padding: 40px;
        width: 100%;
    }
    #caja-mis-trabajos{
        grid-template-columns: repeat(2, 240px);
        padding-bottom: 0px 0px 0px 0px;
    }
    #titulo-mis-trabajos img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }  
    .caja-boton-trabajos{
        padding: 30px;
    }
}

@media only screen and (min-width: 992px){
    .nombre-maca{
        width: 80%;
        margin-left: 0px;
    }
    .foto-principal-maca{
        margin-right: 20px;
    }
    .boton-general{
        padding: 10px;
        margin: 10px;
        width: 150px;
    }
/* 2 */
    .segundo-contenedor{
        padding: 40px;
    }
    .foto-perfil-segundocontenedor{
        width: 40%;
        margin-left: 0px;
    }
    .contenedorsaludo-texto{
        margin-left: 0px;
    }
    p{
        font-size: 18px;
        margin: 1px 1px 1px 20px;
    }
    .saludo{
        width: 160px;
    }
/* 3 */
    .tercer-contenedor{
        padding: 40px;
        width: 100%;
    }
    #caja-mis-trabajos{
        grid-template-columns: repeat(3, 240px);
        padding-bottom: 0px 0px 0px 0px;
    }
    #titulo-mis-trabajos img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }  
    .caja-boton-trabajos{
        padding: 50px;
    }
}

@media only screen and (min-width: 1200px){
    .nombre-maca{
        width: 80%;
        margin-left: 40px;
    }
    .foto-principal-maca{
        margin-right: 60px;
    }
    .boton-general{
        padding: 20px;
        margin: 15px;
        width: 200px;
    }
/* 2 */
    .segundo-contenedor{
        padding: 60px;
    }
    .foto-perfil-segundocontenedor{
        width: 40%;
        margin-left: 0px;
    }
    .contenedorsaludo-texto{
        margin-left: 0px;
    }
    p{
        font-size: 22px;
        margin-left: 40px;
    }
    .saludo{
        width: 250px;
    }
/* 3 */
    .tercer-contenedor{
        padding: 40px;
        width: 100%;
    }
    #caja-mis-trabajos{
        grid-template-columns: repeat(3, 240px);
        padding-bottom: 0px 0px 0px 0px;
    }
    #titulo-mis-trabajos img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }  
    .caja-boton-trabajos{
        padding: 50px;
    }
}