*{
    margin: 0%;
    padding: 0%;    
}
     
body{
    background-color: grey;
}
     
.container-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    margin-top: -250px;
}
     
.name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
     
}
     
.container-text{
    justify-content: space-between;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
}
     
p{
    margin-left: 40px;
    font-size: 20px;
    text-align: justify;
    color:#fcfcfc;
    line-height: 2;

}
     
b{
    color: #fac710;
}
     
.buttons-01{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    }
     
     
.button-log{
    color:#fcfcfc;
    font-size: 20px; 
    font-family:serif;
    font-weight: 600;

    border: 2px solid #fcfcfc;   
    border-radius: 50px;

    padding: 20px;
    width: 200px;
    margin: 20px;
    
    text-decoration: none;
    text-align: center;
}
     
.button-log:hover{
    background-color: #fcfcfc;
    color: black;
}
     
.button-cv{ 
    color: #fac710;
    font-size: 20px; 
    font-family:serif;
    font-weight: 600;

    border: 2px solid #fcfcfc;   
    border-radius: 50px;

    padding: 20px;
    width: 200px;
    margin: 20px;
    
    text-decoration: none;
    text-align: center;
}
     
.button-cv:hover{
    background-color:#fac710;
    border: 2px solid #fac710;   
    color: black;
}
     
.featured-img{
    width: 300px; /*Separacion entre la imagen principal y el nombre*/
    margin-right: 900px;
    margin-top: 0px;
    transform: scale(0.5);
}
     
                                                           /***************************************Portafolio***************************************/                      
     
.container-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:grey;
    margin-top: 70px;
}
     
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
} 
     
.container-photos{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 70px;
    background-color: grey;
    padding-bottom: 70px;
}
     
     
     
     
     
     
     
     
     
.photos{
    height: 500px;
    width: 500px;
    transition: all 0.4s;       
    position: relative;
}
     
.photos img{
    border-radius: 20%;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}
     
.overlay {
    opacity: 0;
    transition: .5s;
}

.photos img:hover{
    filter: grayscale();
    filter: brightness(0.3);    
    background-position: center;

}
     
.photos:hover .overlay {
    opacity: 1;
}
     
.texto{
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 20px;
     
    text-align:center;
    align-items: center;
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    border-radius: 20%;   
    display: flex;
    justify-content: center; 
}  

.btn-trailer{
    text-align:center;
    align-items: center;
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    border-radius: 20%;   
    display: flex;
    justify-content: center; 
} 

.button-trailer{
    background-color: #fac710;
    border: 2px solid black; 
    border-radius: 15px;

    position: absolute;
    top: 65%;

    padding: 10px;
    width: 70px;
    margin: 10px; 
}

.btn-trailer a{
    color: black;
    font-size: 20px;
    justify-content: center; 
}
