*{
margin: 0%;
padding: 0%;    
}

body{
    background-color: grey;
}

.container-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    margin-top: -250px;
}

.name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

}

.container-text{
    justify-content: space-between;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
}

p{
    margin-left: 40px;
    font-size: 20px;
    text-align: justify;
    color:#fcfcfc;
}

b{
    color: #fac710;
}

.buttons-01{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.button-log{
    color:#fcfcfc;
    border: 2px solid #fcfcfc;    
    font-weight: 800;    
    font-family:serif;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;    
    border-radius: 50px;
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}

.button-log:hover{
    background-color: #fcfcfc;
    color: black;
}

.button-cv{ /*Color y tamaño del texto dentro del boton cv*/
    color: #fac710;
    border: 2px solid #fac710;
    font-weight: 800;
    font-family:serif;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;    
    border-radius: 50px;
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}

.button-cv:hover{
    background-color:#fac710;
    color: black;
}

.featured-img{
    width: 300px; /*Separacion entre la imagen principal y el nombre*/
    margin-right: 900px;
    margin-top: 0px;
    transform: scale(0.5);
}

/*Portafolio*/

.container-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:grey;
    margin-top: 70px;
}

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
} 

.container-photos{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 70px;
    background-color: grey;
    padding-bottom: 70px;
}

.photos{
    height: 500px;
    width: 500px;
    transition: all 0.4s;    
}

.photos img{
    border-radius: 20%;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
}

.photos img:hover{
    filter: grayscale();
    filter: brightness(0.5);
    background-position: center;
}