*{
margin: 0;
padding: 0;    
}

#contenedor-presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
}
.fotonombre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre{
    margin-right: 20x;
    margin-top: 50px;
}
.fotoperfil{
    width: 1000px;
    margin-right: 4000px;
}

.featured-img{
    width: 800px;
    margin-right: 50px;
    transform: scale(0.6);
}

.botonespresentacion{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.botones{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    color: var(--grey);
    border-radius: 50px;
    margin: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
.botones a{
    color: var(--grey);
    font-weight: 800;
}
.botoncv{
    background-color: var(--yellow);
}
.botonbitacoras{
    background-color: var(--white);
}