    @font-face {
        font-family: "Macbeth-Reguler";
        src: url(../font/Macbeth-Reguler.ttf) format('truetype'),
            url(../font/Macbeth-Reguler.woff) format('woff');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }

.macbeth{
    font-family: 'Macbeth-Reguler';
}